a {
  color: inherit;
  text-decoration: inherit;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
body {
  font-family: 'Roboto', Arial, Verdana;
}
/* Target specific white parts of the logo for light and dark themes */

/* Dark theme retains the current style of white parts */
body[data-theme='dark'] .svg-logo .white-part {
    fill: white; /* Keep the white color */
}

/* Light theme changes the white parts to black */
body[data-theme='light'] .svg-logo .white-part {
    fill: black !important;
}

